.dashboard {
  height: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.grid {
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  &.column-on-mobile {
    flex-direction: column;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  .col {
    flex-grow: 1;
    flex-basis: 20%;
    width: 100%;
    margin-top: 10px;
    align-self: flex-start;

    &.two-spaces {
      flex-grow: 2;
    }
  }
}

.separator {
  width: 100%;
  height: 3px;
  background-color: @aqua;
  margin-top: 20px;
  margin-bottom: 20px;

  &.soft {
    opacity: 0.4;
  }
}

.fullWidth {
  width: 100%;

  .half {
    width: 50%;
    float: left;
  }
}

.padding-one {
  padding: 10px;
}

.auto-width {
  width: fit-content;
}

.hide-mobile {
  display: none;
}

.clearer {
  clear: both;
}

.center {
  margin: 0 auto;
}

.center-content {
  text-align: center;
}

.chart-box {
  height: 300px;
}

@media all and (min-width: @mobileBreakpoint) {
  .only-mobile-breakpoint {
    display: none;
  }

  .col.border-in-right {
    padding-right: 10px;
    border-right: 3px solid @aqua;
  }

  .hide-mobile {
    display: block;
  }

  .grid.column-on-mobile {
    flex-direction: row;
  }

  .state-graph {
    width: 25%;
    height: 380px;
    float: left;
  }
}
